.zoneRecherche,
.zoneAffichage {
  display: flex;
}

.informations {
  max-width: 600px;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-content: flex-start;
  flex-wrap: wrap;
}

.information {
  margin: 10px;
  font-weight: 100;
  overflow: hidden;
  text-align: center;
  border: 1px dotted black;
  padding: 10px;
}

.etape {
  padding: 10px;
  border: 2px dotted black;
}

.stockQte {
  margin: 20px 0px 20px 0px;
}

.descriptif {
  display: flex;
}

.action {
  margin-top: 20px;
}

button {
  margin-right: 10px;
}

table,
th,
td {
  padding: 5px;
  border: 1px solid black;
  border-collapse: collapse;
}
