/* HEADER */
a
{
  text-decoration:none;
  color: #222222;
}
.main-head {
  color: black;
  justify-content: space-around;
}

.etape {
  padding: 10px;
  border: 2px dotted black;
}

.stockQte {
  margin: 20px 0px 20px 0px;
}


.action {
  margin-top: 20px;
}


table,
th,
td {
  padding: 5px;
  border: 1px solid black;
  border-collapse: collapse;
}

#contenu,#contenuFiche {
  display: flex;
}

button{
  padding: 10px;
  margin: 10px;
}

input{
  padding: 5px 5px;
}

fieldset{
  text-align: center;
}

#descriptionFiche {
  padding: 20px;
  border-bottom: 2px solid black;
}

