* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.clearfix {
  clear: both;
}
.header-banner {
  padding-top: 35px;
  padding-bottom: 100px;
  color: #ffffff;
  font-family: Helvetica, serif;
  font-weight: 100;
  background-image: url("https://grapesjs.com/img/bg-gr-v.png"),
    url("https://grapesjs.com/img/work-desk.jpg");
  background-attachment: scroll, scroll;
  background-position: left top, center center;
  background-repeat: repeat-y, no-repeat;
  background-size: contain, cover;
}
.container-width {
  width: 90%;
  max-width: 1150px;
  margin: 0 auto;
}
.lead-title {
  margin: 150px 0 30px 0;
  font-size: 40px;
}
.sub-lead-title {
  max-width: 650px;
  line-height: 30px;
  margin-bottom: 30px;
  color: #c6c6c6;
}
.form {
  border-radius: 3px;
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0.2);
  width: auto;
}
.input {
  width: 100%;
  margin-bottom: 15px;
  padding: 7px 10px;
  border-radius: 2px;
  color: #fff;
  background-color: #554c57;
  border: none;
}
.button {
  width: 100%;
  margin: 15px 0;
  background-color: #785580;
  border: none;
  color: #fff;
  border-radius: 2px;
  padding: 7px 10px;
  font-size: 1em;
  cursor: pointer;
}
.bdg-sect {
  padding-top: 100px;
  padding-bottom: 100px;
  font-family: Helvetica, serif;
  background-color: #fafafa;
}
.badges {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}
.badge {
  width: 290px;
  font-family: Helvetica, serif;
  background-color: white;
  margin-bottom: 30px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  font-weight: 100;
  overflow: hidden;
  text-align: center;
}
.badge-header {
  height: 115px;
  background-image: url("https://grapesjs.com/img/bg-gr-v.png"),
    url("https://grapesjs.com/img/work-desk.jpg");
  background-position: left top, center center;
  background-attachment: scroll, fixed;
  overflow: hidden;
}
.badge-name {
  font-size: 1.4em;
  margin-bottom: 5px;
}
.badge-role {
  color: #777;
  font-size: 1em;
  margin-bottom: 25px;
}
.badge-desc {
  font-size: 0.85rem;
  line-height: 20px;
}
.badge-avatar {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 5px solid #fff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  margin-top: -75px;
  position: relative;
}
.badge-body {
  margin: 35px 10px;
}
.badge-foot {
  color: #fff;
  background-color: #a290a5;
  padding-top: 13px;
  padding-bottom: 13px;
  display: flex;
  justify-content: center;
}
.badge-link {
  height: 35px;
  width: 35px;
  line-height: 35px;
  font-weight: 700;
  background-color: #fff;
  color: #a290a5;
  display: block;
  border-radius: 100%;
  margin: 0 10px;
}
.row {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  padding: 10px;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
#icxbs6 {
  padding: 10px 10px 10px 10px;
  background-image: linear-gradient(90deg, #d983a6 0%, #713873 100%);
  background-repeat: repeat;
  background-position: left top;
  background-attachment: scroll;
  background-size: auto;
}
#i2vij {
  font-size: 40px;
  text-align: center;
}
#ioas17 {
  font-size: 40px;
  text-align: center;
}
#iqa7r5 {
  padding: 10px;
  background-image: linear-gradient(90deg, #d983a6 0%, #713873 100%);
  background-repeat: repeat;
  background-position: left top;
  background-attachment: scroll;
  background-size: auto;
}
#i9sgno {
  padding: 10px 10px 10px 10px;
  margin: 0 0 0 0;
}
#ipv86x {
  max-width: 80%;
  width: auto;
  float: right;
  margin: 0 0 0 2%;
}
#i2fpt {
  font-size: 72px;
}
#i8uhab {
  font-size: 40px;
  text-align: center;
}
#ijj1n5 {
  padding: 10px;
  background-image: linear-gradient(90deg, #d983a6 0%, #713873 100%);
  background-repeat: repeat;
  background-position: left top;
  background-attachment: scroll;
  background-size: auto;
}
#i3f5wk {
  width: 125px;
}
#io6m8d {
  max-width: auto;
  width: 150px;
  margin: 15px 25% 15px 25%;
}
#i7xnqf {
  width: 125px;
  text-align: center;
  margin: 15px 0 15px 0;
  padding: 7px 10px 7px 10px;
  left: auto;
  right: auto;
  float: right;
}
#ib1hql {
  padding: 10px;
  font-size: 50px;
  width: 100%;
  max-width: 100%;
}
#iufviz {
  width: 125px;
}
#iq1f13 {
  width: 125px;
  text-align: center;
  margin: 15px 0 15px 0;
  padding: 7px 10px 7px 10px;
  left: auto;
  right: auto;
  float: right;
}
#icalnz {
  max-width: auto;
  width: 150px;
  margin: 15px 25% 15px 25%;
}
#ilne29 {
  max-width: 80%;
  width: auto;
  float: right;
  margin: 0 0 0 2%;
}
#iukpx8 {
  padding: 10px 10px 10px 10px;
  margin: 0 0 0;
}
#ijribb {
  width: 125px;
}
#iwnn57 {
  width: 125px;
  margin: 15px 0 15px 0;
  padding: 7px 10px 7px 10px;
  float: right;
}
#i9teux {
  padding: 10px;
  font-size: 50px;
  width: 100%;
  max-width: 100%;
}
#iq4j4r {
  padding: 2% 0 2% 0;
}
#i9ty0h {
  padding: 2% 0 2% 0;
}
#iyqm92 {
  padding: 2% 0 2% 0;
}
#i62sz {
  padding: 20px 20px 20px 20px;
  margin: 2% 0 0 0;
}
@media (max-width: 768px) {
  .row {
    flex-wrap: wrap;
  }
}
@media (max-width: 480px) {
  #i2fpt {
    font-size: 48px;
  }
  #i2vij {
    font-size: 40px;
  }
  #ib1hql {
    width: 100%;
  }
  #ipv86x {
    max-width: 100%;
    margin: 0 0 0 0;
  }
  #ilne29 {
    max-width: 100%;
    margin: 0 0 0 0;
  }
  #i9teux {
    width: 100%;
  }
}
